.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #c50000d4;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}

.back-to-top:hover {
  transform: scale(1.1);
}
